/* 顶部导航 */
.top {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 1px 12px 0px rgba(128, 113, 113, 0.3);
}
header {
  width: 1260px;
  height: 92px;
  margin: 0 auto;
}
.nav-logo {
  float: left;
}
.nav-logo img {
  margin: 20px 0 0 30px;
}
.nav-menu {
  float: left;
  width: 586px;
  text-align: center;
  margin-top: 6px;
}
.nav-menu a {
  display: inline-block;
  margin: 20px 30px 0 5px;
}
.nav-menu a span {
  color: #999;
}
.nav-menu a span:first-child {
  color: #333;
}
/* .nav-menu a:first-child span {
  color: #d3b145;
} */
.nav-menu span:first-child {
  font-size: 15px;
  display: block;
}
.nav-menu span:nth-child(2) {
  display: block;
  margin-top: 6px;
  font-size: 8px;
  line-height: 1.6;
  position: relative;
}
.active::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background-color: #d3b145;
}
.header-cut-line {
  float: left;
  margin-top: 24px;
  margin-right: 10px;
}
.header-controller {
  float: right;
  width: 405px;
  height: 66px;
  text-align: center;
  margin-top: 6px;
}
.header-controller > div {
  display: inline-block;
  height: 100%;
  margin-right: 25px;
  line-height: 66px;
  font-size: 15px;
}
.header-controller-cart-icon {
  display: inline-block;
  position: relative;
}
.header-controller-cart-text span {
  color: #e60012;
  font-size: 12px;
}
.header-controller-cart-icon div {
  position: absolute;
  border: 5px solid transparent;
  border-bottom-color: #e60012;
  top: 16px;
  left: 10px;
}
.header_position {
  position: relative;
}
.header_position > img:first-child {
  width: 19px;
}
.header_position-area-list {
  position: absolute;
  top: 50px;
  left: -16px;
  font-size: 15px;

  width: 100px;
  line-height: 30px;
  background-color: #fff;
  border-radius: 10px;
  text-align: left;
  display: none;
  padding: 2px;
  box-shadow: 0px 1px 12px 0px rgba(128, 113, 113, 0.3);
}
.header_position-area-list a {
  color: #333333;
}
.header_position-area-list li {
  display: inline-block;
}
.header_position-area-list img {
  vertical-align: middle;
  width: 19px;
}
.header_position-area-list li a:hover {
  color: #d3b145;
}
/* 鼠标经过北京让隐藏的div显示,离开隐藏 */
.header_position:hover > .header_position-area-list {
  display: block;
}

/* 隐藏的商品 */
.top-pro-swiper {
  position: relative;
  width: calc(95px * 4);
  margin: auto;
  height: 95px;
}
.zoom-wrapper,
.zoom-wrappers {
  padding-top: 110px;

  box-sizing: border-box;
  width: 1173px;
  margin: auto;
  padding-bottom: 10px;
}

/* 缩放图 */
.spec-preview {
  width: 500px;
  height: 500px;
}
.exzoom_zoom_outer {
  width: 600px;
  height: 600px;
}
.exzoom .exzoom_img_ul_outer {
  border: none;
}
.exzoom .exzoom_preview {
  width: 400px !important;
  height: 400px !important;
}
.spec-preview {
  float: left;
}

.size {
  float: right;
  width: 400px;
  padding-top: 70px;
  text-align: right;
}
.en-name {
  font-size: 30px;
  color: #333333;
}
.cn-name {
  padding-top: 19px;
  font-size: 24px;
  color: #666666;
}
.price-wrap-money {
  margin: 16px 12px 0 10px;
}
.price-wrap-money .small {
  font-size: 26px;
  font-family: MicrosoftYaHei;
  color: #333;
}
.price-wrap-money .big {
  font-size: 39px;
  font-family: MicrosoftYaHei;
  color: #333;
}
.cake-type {
  padding-top: 40px;
  font-size: 16px;
  color: #999999;
}
.cake-small-name {
  padding-top: 10px;
  padding-bottom: 47px;
  font-size: 16px;
  color: #333333;
}
.cake-num,
.cake-size {
  position: relative;
  margin-bottom: 20px;
}
.cake-num .label,
.cake-size .label {
  margin-right: 5px;
  font-size: 14px;
  color: #333333;
}
.cake-num input,
.cake-size input {
  width: 120px;
  height: 26px;
  text-align: center;
  padding-right: 21px;
  border-radius: 4px;
  border: solid 1px #999999;
  font-size: 16px;
}
.cake-num img,
.cake-size img {
  position: absolute;
  top: 2px;
  right: 2px;
}
.cake-size2 {
  font-size: 15px;
  color: #d3b145;
  width: 47px;
  height: 47px;
  line-height: 47px;
  background-color: #ffffff;
  box-shadow: 0px 1px 12px 0px rgba(128, 113, 113, 0.3);
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: 6px;
  right: 0;
  display: none;
}
.cake-size:hover > .cake-size2 {
  display: block;
}
.eat-people {
  padding-top: 7px;
  font-size: 16px;
  color: #666666;
  margin-right: 20px;
}
.cake-book {
  padding-top: 5px;
  font-size: 16px;
  color: #666666;
}
.buy-btn {
  margin-top: 40px;
}
.join-cart {
  width: 147px;
  height: 33px;
  background-color: #333333;
  line-height: 33px;
  border: none;
}
.join-cart-text {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  vertical-align: middle;
}
.buy-now {
  border: none;
  width: 126px;
  height: 33px;
  margin-left: 21px;
  vertical-align: top;
  border: solid 1px #333333;
  font-size: 16px;
  color: #333333;
  background-color: #ffffff;
}
.sweet-level {
  padding-top: 52px;
  font-size: 16px;
  color: #999999;
  font-size: 16px;
}
.stars {
  padding-top: 7px;
}
.store {
  padding-top: 11px;
  font-size: 16px;
  color: #999999;
}
.store-desc {
  padding-top: 8px;
  font-size: 16px;
  color: #333333;
}
.more-btn {
  margin-top: 44px;
  width: 120px;
  height: 30px;
  font-size: 16px;
  color: #ffffff;
  background-color: #333333;
  border-radius: 20px 0px 0px;
  border: none;
}
/* 推荐 */
.part2 {
  width: 1173px;
  margin: auto;
  margin-top: 60px;
  /* height: 500px; */
}
.part2-left {
  float: left;
  width: 555px;
}
.part2-left h2 {
  position: relative;
  width: 100%;
  height: 27px;
  line-height: 26px;
  vertical-align: top;
  border-bottom: 1px solid #999999;
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
}
.part2-left h2::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 84px;
  height: 2px;
  font-size: 16px;
  background-color: #333333;
}

/* 产品 */
.product {
  width: 100%;
  margin: 0 auto;
}
.product li {
  float: left;
  position: relative;
  width: 269px;
  margin-top: 20px;
  padding-bottom: 11px;
  overflow: hidden;
  background-color: #ffffff;
  border: solid 1px #c9c9c9;
  box-sizing: border-box;
  margin-right: 13px;
  height: 372px;
}
.product li:nth-child(2) {
  margin-right: 0;
}
.product li:nth-child(4) {
  margin-right: 0;
}
.pro-img-box {
  display: block;
  width: 100%;
}
.pro-img-box img {
  width: 100%;
  margin-top: 10px;
}

.pro-media-desc {
  padding-left: 21px;
  padding-bottom: 18px;
}
.pro-en-name {
  font-size: 16px;
  color: #333333;
}
.pro-zh-name {
  padding-top: 5px;
  font-size: 14px;
  color: #666666;
}
.pro-price {
  font-size: 16px;
  padding-top: 8px;
  height: 14px;
  line-height: 14px;
  color: #333333;
}
.pro-buy {
  position: absolute;

  z-index: 2;
  right: 20px;
  bottom: 15px;
  width: 72px;
  height: 26px;
  font-size: 14px;
  color: #ffffff;
  background-color: #333333;
  border: none;
}
.pro-buy img {
  width: 18px;
  height: 16px;
  vertical-align: middle;
}
.pro-buy span {
  font-size: 16px;
  vertical-align: middle;
}
.product li:hover {
  transform: scale(1.03);
  transition: 1s;
}
/* 推荐右边 */
.part2-right {
  width: 556px;
  height: 826px;
  float: right;
}
.idea-title {
  width: 100%;
  height: 26px;
  line-height: 26px;
  vertical-align: top;
  border-bottom: 1px solid #999;
}
.idea-title li {
  position: relative;
  float: left;
  width: 25%;
  text-align: center;
  cursor: pointer;
}
.title-item-text {
  display: inline-block;
  position: relative;
  color: #333;
  font-size: 16px;
}
.wei::after {
  display: table;
  content: "";
  width: 0px;
  height: 0px;
  border-top: 5px solid #333333;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  position: absolute;
  left: 50%;
  margin-left: -5px;
  bottom: -9px;
}
.wei::before {
  display: table;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #333333;
  position: absolute;
  left: 0;
  bottom: 0px;
}
.title-item-en {
  position: absolute;
  top: 26px;
  left: 24px;
  display: none;
}
.idea-title li:first-child .title-item-en {
  display: block;
}
.idea-content {
  margin-top: 20px;
}
.idea-content img {
  height: 766px;
  width: 556px;
}
.idea-content li {
  display: none;
}
.idea-content li:first-child {
  display: block;
}

/* 底部 */
footer {
  margin-top: 100px;
  /* width: 100%; */
  padding: 26px 75px 15px 52px;
  border-top: 1px solid #c9c9c9;
  height: 200px;
}
footer .business img {
  margin-bottom: 40px;
}
footer .business p {
  color: #333;
  font-size: 13px;
  line-height: 2;
}
.business {
  float: left;
}
.contact {
  float: left;
}
.contact ul {
  margin-top: 44px;
}
.contact li {
  float: left;
  width: 180px;
  text-align: center;
  line-height: 1.2;
  position: relative;
}
.contact a {
  color: #333;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
}
.contact div {
  font-size: 8px;
  /* text-align: center; */
}
.contact li::after {
  content: "";
  width: 0px;
  height: 16px;
  border-left: 1px solid #000;
  position: absolute;
  top: 6px;
  right: 0;
}
.contact li:last-child::after {
  border: none;
}
.contact ul {
  width: 818px;
  margin-left: 40px;
}
.hover-box {
  padding: 12px;
  position: relative;
  top: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 12px 0px rgba(128, 113, 113, 0.3);
  border-radius: 10px;
  display: none;
}
.hover-box::after {
  content: "";
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translate(-50%, 0);
  /* border: 10px solid #ccc; */
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fff;
  width: 0;
  height: 0;
}
.hover-box a {
  font-size: 15px;
  line-height: 2;
}
.hover-box a:hover {
  color: #d3b145;
}
.contact li:last-child:hover > .hover-box {
  display: block;
}
.address {
  float: left;
}
.logo-company {
  margin-bottom: 22px;
}
.logo-company a {
  margin-right: 40px;
  position: relative;
}
.logo-company a > img {
  width: 40px;
  height: 40px;
}
.weibo {
  position: absolute;
  top: -130px;
  left: 50%;
  transform: translate(-50%, 0);
  border: 10px solid #e0e0e0;
  border-radius: 10px;
  display: none;
}
.logo-company a:hover > .weibo {
  display: block;
}
.weibo img {
  width: 90px;
  height: 90px;
}
.book-footer {
  line-height: 2;
  font-size: 13px;
  color: #333;
}
/* 在线客服 */
.service {
  position: fixed;
  bottom: 0;
  right: 0;
}
