/* 顶部导航 */
.top {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 1px 12px 0px rgba(128, 113, 113, 0.3);
}
header {
  width: 1260px;
  height: 92px;
  margin: 0 auto;
}
.nav-logo {
  float: left;
}
.nav-logo img {
  margin: 20px 0 0 30px;
}
.nav-menu {
  float: left;
  width: 586px;
  text-align: center;
  margin-top: 6px;
}
.nav-menu a {
  display: inline-block;
  margin: 20px 30px 0 5px;
}
.nav-menu a span {
  color: #999;
}
.nav-menu a span:first-child {
  color: #333;
}

.nav-menu span:first-child {
  font-size: 15px;
  display: block;
}
.nav-menu span:nth-child(2) {
  display: block;
  margin-top: 6px;
  font-size: 8px;
  line-height: 1.6;
  position: relative;
}
.active::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background-color: #d3b145;
}
.header-cut-line {
  float: left;
  margin-top: 24px;
  margin-right: 10px;
}
.header-controller {
  float: right;
  width: 405px;
  height: 66px;
  text-align: center;
  margin-top: 6px;
}
.header-controller > div {
  display: inline-block;
  height: 100%;
  margin-right: 25px;
  line-height: 66px;
  font-size: 15px;
}
.header-controller-cart-icon {
  display: inline-block;
  position: relative;
}
.header-controller-cart-text span {
  color: #e60012;
  font-size: 12px;
}
.header-controller-cart-icon div {
  position: absolute;
  border: 5px solid transparent;
  border-bottom-color: #e60012;
  top: 16px;
  left: 10px;
}
.header_position {
  position: relative;
}
.header_position > img:first-child {
  width: 19px;
}
.header_position-area-list {
  position: absolute;
  top: 50px;
  left: -16px;
  font-size: 15px;

  width: 100px;
  line-height: 30px;
  background-color: #fff;
  border-radius: 10px;
  text-align: left;
  display: none;
  padding: 2px;
  box-shadow: 0px 1px 12px 0px rgba(128, 113, 113, 0.3);
}
.header_position-area-list a {
  color: #333333;
}
.header_position-area-list li {
  display: inline-block;
}
.header_position-area-list img {
  vertical-align: middle;
  width: 19px;
}
.header_position-area-list li a:hover {
  color: #d3b145;
}
/* 鼠标经过北京让隐藏的div显示,离开隐藏 */
.header_position:hover > .header_position-area-list {
  display: block;
}
/* 登录 */
.register {
  position: relative;
  width: 100%;
  height: 736px;
  padding-top: 92px;
  box-sizing: border-box;
}
.register > img {
  width: 588px;
  height: 220px;
  margin: 160px 0 56px 124px;
}
.register p {
  margin-left: 124px;
  font-size: 24px;
  color: #d3b145;
}
.square-bg {
  position: absolute;
  top: 40px;
  right: 500px;
  width: 0;
  height: 0;
  border-bottom: 736px solid #d3b145;
  border-left: 402px solid transparent;
}
.yellow-bg {
  position: absolute;
  right: -40px;
  top: 40px;
  width: 554px;
  height: 736px;
  background-color: #d3b145;
}
.register-form {
  width: 387px;
  height: 456px;
  background-color: #fff;
  position: absolute;
  top: 210px;
  right: 120px;
  padding: 0 46px;
  box-sizing: border-box;
}
.register-tab {
  padding-top: 38px;
  font-size: 16px;
}
.register-tab span:first-child {
  color: #d3b145;
}
.register-tab span:first-child,
.register-tab span:last-child {
  display: inline-block;
  width: 132px;
  text-align: center;
}
.register-name {
  margin-top: 18px;
  padding: 0 14px;
  width: 254px;
  height: 32px;
  border: 1px solid #e3e3e3;
}
.register-password {
  padding: 0 14px;
  width: 254px;
  height: 32px;
  margin-top: 16px;
  margin-bottom: 24px;
  border: 1px solid #e3e3e3;
}
.two {
  display: none;
}

.phone {
  margin-top: 18px;
  padding: 0 14px;
  width: 254px;
  height: 32px;
  border: 1px solid #e3e3e3;
}
#dragverify {
  margin-top: 19px;
}
.register-code {
  margin-top: 16px;
}
.register-code input {
  width: 156px;
  height: 32px;
  padding-left: 15px;
  border: 1px solid#e3e3e3;
  border-radius: 6px;
}
.register-code a {
  float: right;
  border: solid 1px #e3e3e3;
  background-color: #d3b145;
  width: 100px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
}
.login-btn {
  margin-top: 16px;
  width: 294px;
  height: 34px;
  text-align: center;
  color: #fff;
  line-height: 34px;
  font-size: 16px;
  background-color: #333333;
  border: none;
}
.modal-footer {
  padding-top: 18px;
}
.modal-footer input {
  vertical-align: middle;
}
.modal-footer span {
  font-size: 12px;
}
.pwd-opt {
  float: left;
}
.forget-pwd {
  float: right;
}
.forget-pwd a {
  font-size: 12px;
  color: #000;
}
.cut-line {
  float: left;
  position: relative;
  top: 50px;
  left: 0;
  width: 100%;
}
.cut-line img {
  width: 148px;
  height: 10px;
  position: absolute;
  top: 6px;
  left: 194px;
}
.cut-line img:nth-child(1) {
  transform: rotate(180deg);
  left: -44px;
  top: 6px;
}
.cut-line b {
  width: 100%;
  text-align: center;
  font-size: 12px;
  display: inline-block;
  font-weight: normal;
}
.wx-chat {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}

footer {
  margin-top: 40px;
  /* width: 100%; */
  padding: 26px 75px 15px 52px;
  border-top: 1px solid #c9c9c9;
  height: 200px;
}
footer .business img {
  margin-bottom: 40px;
}
footer .business p {
  color: #333;
  font-size: 13px;
  line-height: 2;
}
.business {
  float: left;
}
.contact {
  float: left;
}
.contact ul {
  margin-top: 44px;
}
.contact li {
  float: left;
  width: 180px;
  text-align: center;
  line-height: 1.2;
  position: relative;
}
.contact a {
  color: #333;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
}
.contact div {
  font-size: 8px;
  /* text-align: center; */
}
.contact li::after {
  content: "";
  width: 0px;
  height: 16px;
  border-left: 1px solid #000;
  position: absolute;
  top: 6px;
  right: 0;
}
.contact li:last-child::after {
  border: none;
}
.contact ul {
  width: 818px;
  margin-left: 40px;
}
.hover-box {
  padding: 12px;
  position: relative;
  top: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 12px 0px rgba(128, 113, 113, 0.3);
  border-radius: 10px;
  display: none;
}
.hover-box::after {
  content: "";
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translate(-50%, 0);
  /* border: 10px solid #ccc; */
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fff;
  width: 0;
  height: 0;
}
.hover-box a {
  font-size: 15px;
  line-height: 2;
}
.hover-box a:hover {
  color: #d3b145;
}
.contact li:last-child:hover > .hover-box {
  display: block;
}
.address {
  float: left;
}
.logo-company {
  margin-bottom: 22px;
}
.logo-company a {
  margin-right: 40px;
  position: relative;
}
.logo-company a > img {
  width: 40px;
  height: 40px;
}
.weibo {
  position: absolute;
  top: -130px;
  left: 50%;
  transform: translate(-50%, 0);
  border: 10px solid #e0e0e0;
  border-radius: 10px;
  display: none;
}
.logo-company a:hover > .weibo {
  display: block;
}
.weibo img {
  width: 90px;
  height: 90px;
}
.book-footer {
  line-height: 2;
  font-size: 13px;
  color: #333;
}
.service {
  position: fixed;
  bottom: 0;
  right: 0;
}
